body
{
  color: white;
  background: #601068;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 270px;
  height: 200px; 
}
#result_gesture_name
{
  color: black;
}
.gesture_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
.heading {
  font-size:20px;
  border-radius:10px;
  letter-spacing:10px;
}
label{
  font-size: 18px;
  color:beige;
  padding:6px;
  border-radius:10px;
  text-decoration: underline;

}